.news-and-articles {
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.news-and-articles .container .news-title {
  margin-bottom: 2rem;
}
.news-and-articles .container .news-title h3 {
  font-family: sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.news-and-articles .container .articles {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
}
.news-and-articles .container .articles .news {
  text-decoration: none;
}
@media (min-width: 768px) {
  .news-and-articles .container .articles .news .paragraph-phone {
    display: none;
  }
}
.news-and-articles .container .articles .news:hover {
  text-decoration: underline;
}
.news-and-articles .container .articles .news .image-container-dates {
  position: relative;
}
.news-and-articles .container .articles .news .image-container-dates .dates {
  height: 64px;
  width: 56px;
  background-color: #F9D783;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -20px;
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 15px;
  margin-left: 15px;
}
.news-and-articles .container .articles .news .image-container-dates .dates strong {
  font-family: "dm", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #191919;
  padding-top: 20px;
}
.news-and-articles .container .articles .news .image-container-dates .dates p {
  font-size: 16px;
  font-family: "inter";
  font-weight: normal;
  color: RGBA(25, 25, 25, 0.7);
  margin-top: -5px;
}
.news-and-articles .container .articles .news p {
  font-size: 16px;
  font-family: "inter", sans-serif;
  font-weight: normal;
  line-height: 28px;
  color: #6A6C71;
}
.news-and-articles .container .articles .news strong {
  font-family: "dm", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  color: #191919;
}
.news-and-articles .container .number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.news-and-articles .container .number-box .small-boxes .small-box {
  border: solid 1px #EAE9F2;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 35px;
  margin: 0 5px;
}
.news-and-articles .container .number-box .small-boxes .small-box:hover {
  cursor: pointer;
  background-color: #191919;
  color: #ffffff;
}
.news-and-articles .container .number-box .small-boxes #black-box {
  background-color: #191919;
  color: #FFFFFF;
}