.news-updates {
  background-color: rgba(240, 239, 233, 0.8352941176);
  height: 270px;
  width: auto;
  position: relative;
}
.news-updates .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
@media (min-width: 768px) {
  .news-updates .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-top: 70px;
    overflow: hidden;
    flex-direction: inherit;
  }
}
.news-updates .container .updates-title {
  margin-left: 0;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .news-updates .container .updates-title {
    margin-left: 20px;
    margin-top: 3rem;
  }
}
.news-updates .container .updates-title h2 {
  font-family: "dm", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .news-updates .container .updates-title h2 {
    font-size: 45px;
  }
}
.news-updates .container .search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .news-updates .container .search-container {
    margin-left: 130px;
    display: block;
    margin-top: 3rem;
  }
}
.news-updates .container .search-container #search-input {
  padding: 20px 50px;
  border-radius: 40px;
  border: none;
  margin-right: 10px;
  font-family: "inter";
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 1rem;
  outline: none;
}
@media (min-width: 768px) {
  .news-updates .container .search-container #search-input {
    margin-bottom: 0;
  }
}
.news-updates .container .search-container .btn-yellow {
  padding: 16px 35px;
  padding-right: 55px;
  border-radius: 40px;
  font-size: 16px;
  font-family: "inter";
  font-weight: normal;
  position: relative;
  text-align: center;
}
.news-updates .container .search-container .btn-yellow i {
  font-weight: bold;
  position: absolute;
}
@media (min-width: 768px) {
  .news-updates .container .search-container .btn-yellow i {
    margin-top: 18px;
  }
}
.news-updates img {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .news-updates img {
    display: block;
  }
}