.all-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: none;
  width: auto;
  height: auto;
}
@media (min-width: 1400px) {
  .all-reviews {
    height: 1100px;
    background-color: RGBA(240, 208, 130, 0.93);
  }
}
.all-reviews .container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.all-reviews .container .square-background {
  background-color: #FFFFFF;
}
@media (min-width: 1400px) {
  .all-reviews .container .square-background {
    width: 1520px;
    height: 950px;
  }
}
@media (min-width: 800px) {
  .all-reviews .container .square-background .section-title h2 {
    margin-top: 30px;
  }
}
@media (max-width: 800px) {
  .all-reviews .container .square-background .section-title {
    margin-top: 10px;
  }
}
@media (max-width: 800px) {
  .all-reviews .container .square-background .section-title h2 {
    margin-top: 25px;
  }
}
.all-reviews .container .square-background .client-reviews {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap: 80px;
}
@media (min-width: 1400px) {
  .all-reviews .container .square-background .client-reviews {
    flex-direction: inherit;
    margin-left: 150px;
    gap: 100px;
  }
}
.all-reviews .container .square-background .client-reviews .client-1, .all-reviews .container .square-background .client-reviews .client-2, .all-reviews .container .square-background .client-reviews .client-3 {
  text-align: left;
}
.all-reviews .container .square-background .client-reviews .client-1 p, .all-reviews .container .square-background .client-reviews .client-2 p, .all-reviews .container .square-background .client-reviews .client-3 p {
  font-family: "inter", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 34px;
}
.all-reviews .container .square-background .client-reviews .client-1 .reviewer-1, .all-reviews .container .square-background .client-reviews .client-1 .reviewer-2, .all-reviews .container .square-background .client-reviews .client-1 .reviewer-3, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-1, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-2, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-3, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-1, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-2, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-3 {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.all-reviews .container .square-background .client-reviews .client-1 .reviewer-1 strong, .all-reviews .container .square-background .client-reviews .client-1 .reviewer-2 strong, .all-reviews .container .square-background .client-reviews .client-1 .reviewer-3 strong, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-1 strong, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-2 strong, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-3 strong, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-1 strong, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-2 strong, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-3 strong {
  font-family: "dm", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #191919;
  margin-left: 100px;
  margin-top: -65px;
}
.all-reviews .container .square-background .client-reviews .client-1 .reviewer-1 p, .all-reviews .container .square-background .client-reviews .client-1 .reviewer-2 p, .all-reviews .container .square-background .client-reviews .client-1 .reviewer-3 p, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-1 p, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-2 p, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-3 p, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-1 p, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-2 p, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-3 p {
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #f94c1c;
  margin-left: 100px;
  margin-top: -1px;
}
.all-reviews .container .square-background .client-reviews .client-1 .reviewer-1 img, .all-reviews .container .square-background .client-reviews .client-1 .reviewer-2 img, .all-reviews .container .square-background .client-reviews .client-1 .reviewer-3 img, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-1 img, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-2 img, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-3 img, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-1 img, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-2 img, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-3 img {
  width: 70px;
  height: 70px;
  border: solid 2px rgba(25, 25, 25, 0.0941176471);
  border-radius: 50%;
}
@media (min-width: 800px) {
  .all-reviews .container .square-background .client-reviews .client-1 .reviewer-3, .all-reviews .container .square-background .client-reviews .client-2 .reviewer-3, .all-reviews .container .square-background .client-reviews .client-3 .reviewer-3 {
    margin-top: 6rem;
  }
}
.all-reviews .container .square-background .center-content {
  margin-top: 40px;
}
@media (min-width: 1400px) {
  .all-reviews .container .square-background .center-content {
    margin-top: 80px;
  }
}