footer {
  background-color: #0e1021;
  width: auto;
}
@media (min-width: 768px) {
  footer {
    height: 550px;
  }
}
footer .container {
  position: relative;
  overflow: hidden;
}
footer .container .center-section {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
  overflow: hidden;
  padding-bottom: 105px;
  border-bottom: solid 1px RGBA(255, 255, 255, 0.2);
}
footer .container .center-section .logotype-consulting {
  display: none;
}
@media (min-width: 768px) {
  footer .container .center-section .logotype-consulting {
    display: block;
  }
}
footer .container .center-section .logotype-consulting p {
  color: RGBA(255, 255, 255, 0.7);
  font-size: 16px;
  font-family: "inter";
  font-weight: normal;
  line-height: 26px;
  margin-top: 30px;
}
footer .container .center-section .company-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
}
@media (min-width: 768px) {
  footer .container .center-section .company-info {
    gap: 100px;
    display: flex;
    justify-content: center;
  }
}
footer .container .center-section .company-info .company-section {
  margin-top: -4rem;
}
@media (min-width: 768px) {
  footer .container .center-section .company-info .company-section {
    margin-top: -15px;
  }
}
footer .container .center-section .company-info .company-section h5 {
  color: RGBA(255, 255, 255, 0.7);
  font-family: "dm", sans-serif;
  font-size: 19px;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 20px;
  align-items: center;
}
@media (min-width: 768px) {
  footer .container .center-section .company-info .company-section h5 {
    font-size: 22px;
    margin-top: block;
    margin-bottom: 40px;
  }
}
footer .container .center-section .company-info .company-section a {
  margin-top: 25px;
  text-decoration: none;
  color: RGBA(255, 255, 255, 0.7);
  display: block;
  font-size: 13px;
}
@media (min-width: 768px) {
  footer .container .center-section .company-info .company-section a {
    font-size: 16px;
  }
}
footer .container .center-section .company-info .company-section a:hover {
  text-decoration: underline;
}
footer .container #wavy-lines {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  footer .container #wavy-lines {
    display: block;
  }
}
footer .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 41.5rem;
}
footer .bottom .copyright-section {
  margin-bottom: 2rem;
  margin-left: 1.3rem;
}
@media (min-width: 768px) {
  footer .bottom .copyright-section {
    margin-bottom: block;
    margin-left: block;
  }
}
footer .bottom .copyright-section p {
  color: RGBA(255, 255, 255, 0.7);
  font-family: "inter";
  font-size: 13px;
  font-weight: normal;
}
@media (min-width: 768px) {
  footer .bottom .copyright-section p {
    font-size: 16px;
  }
}
footer .bottom .socialmedia-bar {
  display: none;
}
@media (min-width: 768px) {
  footer .bottom .socialmedia-bar {
    display: flex;
    gap: 30px;
    margin-bottom: 2rem;
  }
}
footer .bottom .socialmedia-bar i {
  color: #FFFFFF;
}
footer .bottom .socialmedia-bar i:hover {
  color: RGBA(255, 255, 255, 0.7);
}