* {
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #F0EFE9;
  padding: 16px;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .wrapper {
    height: 15dvh;
  }
}
.wrapper .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo bars";
  overflow: hidden;
}
@media (min-width: 992px) {
  .wrapper .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
.wrapper .container .menu-bars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
  margin-left: 4rem;
}
@media (min-width: 992px) {
  .wrapper .container .menu-bars {
    display: none;
    margin-left: 0;
  }
}
.wrapper .container .logotype {
  grid-area: logo;
  margin-left: 2rem;
}
@media (min-width: 1200px) {
  .wrapper .container .logotype {
    margin-right: 70px;
  }
}
@media (min-width: 1400px) {
  .wrapper .container .logotype {
    margin-right: 70px;
  }
}
.wrapper .container .contactinformation-bar {
  grid-area: cib;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1400px) {
  .wrapper .container .contactinformation-bar {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
.wrapper .container .contactinformation-bar .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.wrapper .container .contactinformation-bar .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
.wrapper .container .contactinformation-bar .content-box.last {
  border: none;
  margin-right: -3rem;
}
.wrapper .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  .wrapper .container .socialmedia-bar {
    display: block;
  }
}
@media (min-width: 1200px) {
  .wrapper .container .socialmedia-bar {
    margin-right: 50px;
  }
}
@media (min-width: 1500px) {
  .wrapper .container .socialmedia-bar {
    margin-right: 190px;
    margin-left: 0px;
  }
}
@media (min-width: 1700px) {
  .wrapper .container .socialmedia-bar {
    margin-right: 100px;
    margin-left: 100px;
  }
}
@media (min-width: 1800px) {
  .wrapper .container .socialmedia-bar {
    margin-left: 200px;
    margin-right: 0;
  }
}
@media (min-width: 2100px) {
  .wrapper .container .socialmedia-bar {
    margin-left: 290px;
    margin-right: 0;
  }
}
.wrapper .container .socialmedia-bar a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
.wrapper .container .socialmedia-bar a:hover {
  color: #7c7c7c;
}
.wrapper .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DAD9D3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  .wrapper .container .menu {
    display: flex;
  }
}
.wrapper .container .menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
.wrapper .container .menu nav a.active {
  font-weight: 500px;
}
.wrapper .container .menu nav a.active::after, .wrapper .container .menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.section-title {
  padding-top: 40px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  font-family: "inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: -18px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase .container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .showcase .container {
    margin-left: 6rem;
    margin-right: 0;
  }
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    padding-top: block;
    padding-bottom: block;
    margin-top: -100px;
    display: block;
    flex-direction: block;
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 30px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-size: 40px;
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 50px;
    text-align: left;
    margin-top: 8px;
  }
}
@media (min-width: 1748px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1800px) {
  .showcase .container .content h1 {
    font-size: 86px;
    text-align: left;
    margin-top: 8px;
  }
}
@media (min-width: 2100px) {
  .showcase .container .content h1 {
    font-size: 86px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0;
  }
}
.showcase .container .content p {
  font-size: 16px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content p {
    display: block;
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 2100px) {
  .showcase .container .content p {
    display: block;
    font-size: 20px;
    text-align: left;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.showcase .container .content .btn-no-color {
  text-decoration: none;
  padding: 12px 25px;
  border: solid 1px black;
  background-color: transparent;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  color: black;
}
.showcase .container .content .btn-no-color i {
  margin-left: 8px;
  font-size: 0.9em;
  font-weight: bold;
}
.showcase .container .content .btn-no-color:hover {
  color: #FFFFFF;
  background-color: #191919;
}
.showcase .container #manShowcase {
  display: none;
}
@media (min-width: 1200px) {
  .showcase .container #manShowcase {
    display: block;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1600px) {
  .showcase .container #manShowcase {
    width: auto;
  }
}
.showcase .container #white-lines-showcase {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}